@import "tailwindcss";
@plugin "daisyui" {
  themes: [
    {
      ifrn: {
        "primary": "#2f6b48",
        "secondary": "#1f4a32",
        "accent": "#e63946",
        "neutral": "#143021",
        "base-100": "#ffffff",
        "base-200": "#e6f2ea",
        "base-300": "#c4e2d1",
      },
    },
  ];
}
