
.flex {
    display: flex;
}
h1,h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.collumn {
    flex-direction: column;
}
.items-start {
    align-items: flex-start;
}
header {
    margin-bottom: 20px;
}
nav {
    max-width: 1100px;
    padding: 28px 100px;
    margin: auto;
}
.social {
    gap: 25px;
}
.links {
    gap: 32px;
}
.perfil {
    max-width: 567px;
    gap: 30px;
    flex-shrink: 0;
    button {
        display: flex;
        padding: 21px 64px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }
}


.foto {
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    flex-shrink: 0;
}
.marcas {
    gap: 30px;
    button {
        width: 160px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width: 70px;
    }
}